.login-div {
  text-align: center;
  margin: 0 auto;
  width: 50%;
  padding: 80px 0;
}

.login-div h4 {
  padding: 35px 0;
}

.signup-link {
  font-size: 20px;
  margin-bottom: 15px;
}
.signup-link a {
  /* text-decoration: none; */
  font-weight: bolder;
}
.forget-Password {
  font-size: 20px;
  text-decoration: none;
}
