a:hover {
  text-decoration: none;
}
.img-fluids {
  width: 100%;
}
header {
  width: 100%;
  position: fixed;
  background-color: rgba(243, 138, 129, 1);
  z-index: 9;
}
header ul li a p:hover {
  color: #fce38a;
  text-decoration: underline;
}
header i:hover {
  color: #fce38a;
}
header ul li a p {
  font-family: "Montserrat";
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
  border-bottom: 3px solid transparent;
  text-align: center;
  margin: 0;
}
.menu-bar {
  color: white;
}
header ul li a {
  font-family: "Montserrat";
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
  border-bottom: 3px solid transparent;
  text-align: center;
  margin-right: 15px;
}
header ul li a:hover {
  color: #ffffff;
}
.bg-header {
  padding-bottom: 64px;
  background-image: url(../images/banner.png);
  background-position: center center;
  background-size: auto;
  background-repeat: no-repeat;
}
.logo {
  font-size: 30px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Montserrat";
}
.logo:hover {
  color: #ffffff;
}
.main-heading {
  margin-top: 10px;
}
.main-heading h2 {
  font-size: 150px;
  line-height: 140px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-family: Montserrat;
  text-align: center;
  margin: 38px auto;
  text-transform: uppercase;
}
.main-heading h1 {
  font-size: 72px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Kaushan Script";
  text-align: center;
  margin-top: -15px;
}
.main-heading p {
  border-top: 3px solid white;
  width: 60px;
  margin: 0 auto;
}
.x1 {
  padding: 25px;
}
.main-heading button {
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
  margin-top: 50px;
  color: #ffffff;
  border: 3px solid white;
  text-transform: uppercase;
}
h3 {
  margin: 5px 0;
}
.sliderContainer {
  position: relative;
}
.slick-slide {
  color: white;
  padding: 80px 0 80px;
  font-size: 30px;
  font-family: "Arial", "Helvetica";
  text-align: center;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

.slick-dots {
  bottom: -30px;
}
.progressBarContainer {
  position: absolute;
  width: 100%;
  margin-left: 22px;
}

.progressBarContainer div {
  display: block;
  width: 20%;
  padding: 0;
  cursor: pointer;
  margin-right: 5%;
  float: left;
  color: white;
}
.progressBarContainer h3 {
  font-size: 16px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: left;
}

.progressBarContainer div:last-child {
  margin-right: 0;
}

.progressBarContainer div span.progressBar {
  width: 100%;
  height: 3px;
  background-color: rgba(241, 236, 236, 0.4);
  display: block;
}

.progressBarContainer div span.progressBar .inProgress {
  background-color: rgba(255, 255, 255, 1);
  width: 0%;
  height: 3px;
  background-color: #f38181;
}
.section-headings {
  margin-top: 20px;
}
.section-headings h2 {
  width: 100%;
  font-size: 24px;
  color: #333333;
  font-weight: 400;
  font-family: "Kaushan Script";
  text-align: center;
  margin-top: 55px;
}
.section-headings h3 {
  width: 100%;
  font-size: 30px;
  color: #333333;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
  text-transform: uppercase;
}

.section-headings h4 {
  width: 56px;
  border-top: 3px solid #f38181;
  margin: 25px auto;
}
.left-border {
  border-left: 0.5px solid #b5eae0;
}
.about {
  font-size: 15px;
  line-height: 24px;
  color: #999999;
  font-weight: 400;
  font-family: "Roboto";
  text-align: center;
  margin: 0 auto;
  margin-bottom: 45px;
}
.about-us {
  margin: 60px auto;
}
/* .about-us img {
  width: 300px;
} */
.number-banner {
  border-right: 0.5px solid #b5eae0;
  padding: 40px 0;
  margin-right: 2px;
}
.overlay {
  position: absolute;
  padding: 0px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* left: 15px;
  right: -88px; */
  /* width: 300px; */
  height: auto;
  opacity: 0;
  transition: 0.5s ease;
  background: linear-gradient(
    to top,
    rgba(251, 227, 137, 0.8),
    rgba(243, 138, 129, 1)
  );
}

a:hover .overlay {
  opacity: 1;
  box-shadow: 10px 10px 0px #95e1d3;
  transform: translate(-10px, -9px);
  transition: all 0.4s ease;
}
/* a:hover  {
  transform: translate(-10px, -10px);
} */
.over-icons {
  margin: auto;
  margin-top: 113px;
  margin-left: 152px;
  color: #ffffff;
}
.overlay p {
  font-size: 18px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
  text-transform: uppercase;
}
.clients-banner {
  background-color: #95e1d3;
}
.clients-banner h2 {
  font-size: 72px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
}
.clients-banner p {
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: center;
}
.service-section {
  margin: 50px 0;
}
.service-banner div {
  margin-right: 28px;
}
.service-banner div + div {
  margin-top: -6px;
}
.service-banner h3 {
  font-size: 14px;
  color: #333333;
  font-weight: 400;
  font-family: "Montserrat";
  text-transform: uppercase;
}
.service-banner p {
  /* width: 290px; */
  height: 20px;
  font-size: 15px;
  line-height: 24px;
  color: #999999;
  font-weight: 400;
  font-family: "Roboto";
}
.horizontal-divider {
  width: 100%;
  margin: 50px 0;
  border-top: 2px solid #e5e5e5;
}
.unique-design {
  margin-top: 120px;
  height: 800px;
  background-image: url(../images/unique-design/bg-unique-design.jpg);
  background-color: white;
  background-size: auto 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tablet {
  margin-top: 37px;
  margin-left: 311px;
}
.collapse-heading {
  font-size: 14px;
  text-transform: uppercase;
  color: #333336;
  font-weight: 400;
  font-family: "Montserrat";
  margin-left: 4px;
}

.collapse-para {
  width: 514px;
  height: 222px;
  font-size: 15px;
  line-height: 24px;
  color: #999999;
  font-weight: 300;
  font-style: italic;
  font-family: "Roboto";
}

/* #accordion button::before {
  position: absolute;
  padding: auto 0;
  content: "v";
  right: 23px;
  color: #cccccc;
  top: 32px;
  font-weight: bold;
  font-size: 16px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#accordion button[aria-expanded="true"]::before {
  position: absolute;
  content: "^";
  right: 21px;
  color: #cccccc;
  font-size: 25px;
  font-weight: bold;
  top: 31px;
} */

#coro ::-webkit-scrollbar {
  width: 5px;
}

/* Track */
#coro ::-webkit-scrollbar-track {
  border: 1px solid #f5f5f5;
  border-radius: 5px;
  margin: 30px;
  background: #f5f5f5;
}

/* Handle */
#coro ::-webkit-scrollbar-thumb {
  background: #95e1d3;
  border: 3px solid #95e1d3;
  border-radius: 50px;
}

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #95e1d3;
} */

.review-section {
  width: 100%;
  margin: 80px auto;
  background-color: #f8f8f8;
}
.review-image img {
  width: 89px;
  height: 89px;
  margin-right: 35px;
}
.review-details {
  width: 630px;
  font-size: 24px;
  line-height: 36px;
  color: #999999;
  font-weight: 300;
  font-style: italic;
  font-family: "Roboto";
}
.review-line {
  border-top: 3px solid #f38181;
  margin-top: 21px;
  margin-right: 15px;
  width: 50px;
  margin-left: 4px;
}
.reviewer-name {
  font-size: 24px;
  color: #333333;
  font-weight: 400;
  font-family: "Kaushan Script";
}
.review-box {
  margin-top: 48px;
  margin-left: 187px;
  padding: 60px 0px;
}
.review-para {
  margin-top: -7px;
}
/* .team-member{
  margin-left: 30px;
} */
.team-member img {
  width: 340px;
  height: 440px;
  margin-bottom: 30px;
}
.team-member img:hover {
  box-shadow: 10px 10px 0px #95e1d3;
  background: linear-gradient(0deg, #fbe389 0%, #f38a81 100%);
  transition: all 0.4s ease;
}

.overlay-2 {
  position: absolute;
  padding: 0px;
  top: 0;
  bottom: 0;
  left: 15px;
  right: -88px;
  width: 340px;
  height: 440px;
  opacity: 0;
  transition: 0.5s ease;
  box-shadow: 10px 10px 0px #95e1d3;
  background: linear-gradient(
    to top,
    rgba(251, 227, 137, 0.8),
    rgba(243, 138, 129, 1)
  );
}
a:hover .overlay-2 {
  opacity: 1;
  box-shadow: 10px 10px 0px #95e1d3;
  transform: translate(-10px, -9px);
  transition: all 0.4s ease;
}
.overlay-2:hover {
  opacity: 1;
  box-shadow: 10px 10px 0px #95e1d3;
  /* transform: translate(-10px, -9px); */
}
.team-social {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 203px;
}
.team-social li {
  border: 1px solid #f9bd87;
  background-color: #fce38a;
  padding: 9px;
  width: 45px;
  margin-right: 0px;
}
.team-social a {
  color: #fce38a;
}
.team-social i {
  width: 10px;
  color: #f38181;
  margin-left: 6px;
}
.team-social li:hover {
  border: 1px solid #f38181;
  background-color: #f38181;
  color: #fce38a;
}
.team-social li:hover i {
  width: 10px;
  color: #fce38a;
  background-color: #f38181;

  margin-left: 6px;
}
.team-member h2 {
  font-size: 14px;
  color: #333333;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: center;
}
.team-member p {
  font-size: 15px;
  line-height: 24px;
  color: #999999;
  font-weight: 300;
  font-style: italic;
  font-family: "Roboto";
  text-align: center;
}
.brand-section {
  background-color: #f8f8f8;
  width: 100%;
  margin: 90px auto;
}
.Brands div {
  padding: 40px 0;
}
.brand-img img {
  transition: 0.7s;
}
.brand-img img:hover {
  /* opacity: 0.4; */
  transform: scale(1.3);
}

.review-section-2 {
  width: 100%;
  margin: 80px auto;
  background-color: #fff;
}
.reviewer-1-image img {
  width: 190px;
  height: 181px;
  margin-right: 17px;
  margin-top: -48px;
}
.review-box-2 {
  margin-top: 80px;
  margin-left: 146px;
}
.clients {
  margin: 0 auto;
  background-image: url(../images/happy-client/bg-happy-client.jpg);
  padding-top: 35px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.clients-info {
  margin-left: 30px;
}
.clients-info h3 {
  font-size: 14px;
  color: #333333;
  font-weight: 400;
  font-family: "Montserrat";
}
.clients-info h4 {
  font-size: 15px;
  line-height: 24px;
  color: #333333;
  font-weight: 300;
  font-style: italic;
  font-family: "Roboto";
}
.clients-info p:first-of-type {
  border-top: 3px solid #f38181;
  margin: 15px 0;
  width: 60px;
}
.clients-info p + p {
  width: 389px;
  height: 129px;
  font-size: 15px;
  line-height: 24px;
  color: #999999;
  font-weight: 400;
  font-family: "Roboto";
}
/* .Story-banner{

} */
.Story-banner h2 {
  font-size: 14px;
  margin-top: 10px;
  margin-left: 12px;
  color: #333333;
  font-weight: 400;
  font-family: "Montserrat";
}
.Story-banner h3 {
  margin-top: 10px;
  margin-left: 12px;
  width: 355px;
  font-size: 15px;
  line-height: 24px;
  color: #999999;
  font-weight: 400;
  font-family: "Roboto";
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 15px;
}
/* .Story-banner p:first-child {
  margin-left: 12px;
  border-top: 1px solid #e5e5e5;
  width: 100%;
} */
.story-views {
  margin-right: 16px;
}
.story-views p {
  margin-top: -5px;
  margin-left: 4px;
  font-size: 15px;
  line-height: 24px;
  color: #999999;
  font-weight: 300;
  font-style: italic;
  font-family: "Roboto";
}
/* .footer-section {
  margin-top: 120px;
} */
.mapSection {
  margin-top: 100px;
}
.map {
  position: relative;
  background-image: url(../images/map/Rectangle\ 27.png);
  padding: 44px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.map iframe {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  transition: 0.2s;
}
.map p {
  font-size: 24px;
  color: #f38181;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 17px;
}
.map p:nth-child(3) {
  border-top: 3px solid #f38181;
  width: 60px;
  margin: 0 auto;
}
.social-icons {
  padding: 0;
  margin-left: 10px;
}
.social-icons li {
  margin-right: 18px;
  list-style: none;
  text-decoration: none;
}
.social-icons li a {
  color: #bdeae2;
}
.social-icons li a:hover {
  color: #f38181;
}
.text-box {
  width: 230px;
}
.Subscribe-btn {
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
  background: #bdeae2;
  width: 123px;
  padding-top: 5px;
  padding-left: 20px;
  text-transform: uppercase;
}
.footer-details {
  padding-top: 70px;
}
.footer-details h2 {
  font-size: 46px;
  color: #cccccc;
  font-weight: 700;
  font-family: "Montserrat";
}
.details {
  width: 343px;
  font-size: 15px;
  line-height: 24px;
  color: #999999;
  font-weight: 400;
  font-family: "Roboto";
}
.follwer {
  font-size: 18px;
  color: #333333;
  font-weight: 700;
  font-family: "Montserrat";
  margin-right: 10px;
}
.follow {
  font-size: 18px;
  color: #333333;
  font-weight: 700;
  font-family: "Montserrat";
}
.socials {
  margin-top: 7px;
  margin-bottom: 8px;
}
.socials p {
  font-size: 15px;
  line-height: 24px;
  color: #999999;
  font-weight: 300;
  font-style: italic;
  font-family: "Roboto";
}
.blog-2 {
  padding: 20px 0;
}
.blog-div {
  padding-left: 40px;
}
.Blogs h3 {
  font-size: 14px;
  color: #333333;
  font-weight: 400;
  font-family: "Montserrat";
  text-transform: uppercase;
  padding-top: 82px;
  margin-bottom: 26px;
  padding-left: 40px;
}
.Blogs p:first-of-type {
  font-size: 12px;
  line-height: 18px;
  color: #333333;
  font-weight: 400;
  font-family: "Montserrat";
  text-transform: uppercase;
  margin: 0;
  margin-top: 13px;
}
.Blogs p.Blog-date {
  font-size: 13px;
  line-height: 24px;
  color: #999999;
  font-weight: 300;
  font-style: italic;
  font-family: "Roboto";
}
.Instagram h2 {
  font-size: 14px;
  color: #333333;
  font-weight: 400;
  font-family: "Montserrat";
  text-transform: uppercase;
  padding-top: 86px;
  margin-bottom: 24px;
  padding-left: 48px;
}
.Instagram h3 {
  font-size: 13px;
  line-height: 24px;
  color: #333333;
  font-weight: 300;
  font-style: italic;
  font-family: "Roboto";
  padding-left: 52px;
}
.Instagram-div {
  padding: 0;
  margin: 0;
}
.company {
  background-color: #f8f8f8;
  border-top: 1px solid #e5e5e5;
}
.company-name :nth-of-type(1) {
  font-size: 14px;
  color: #333333;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: center;
  padding-top: 13px;
}

.company-name :nth-of-type(2) {
  font-size: 14px;
  color: #f49e9e;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: center;
  padding-top: 13px;
  padding-left: 4px;
}
.insta-div {
  padding: 0;
  margin-right: -9px;
}
.insta-div img {
  margin-bottom: 9px;
}
.insta-img-div {
  margin-left: 50px;
}
.custom-div {
  max-height: 770px;
  max-width: 1519px;
  margin: 0 auto;
}
.custom-row {
  max-height: 770px;
  /* width: 100%; */
  display: flex;
  margin: 0 auto;
}
.col1 {
  width: 25%;
  height: 100%;
}
.col2 {
  width: 25%;
  height: 100%;
}
.col3 {
  width: 25%;
  height: 100%;
}
.col4 {
  width: 25%;
  height: 100%;
}
.overlay-3 {
  position: absolute;
  padding: 0px;
  top: -142px;
  bottom: 0;
  left: 0px;
  right: -63px;
  width: 380px;
  height: 310px;
  opacity: 0;
  transition: 0.5s ease;
  background: linear-gradient(
    to top,
    rgba(251, 227, 137, 0.8),
    rgba(243, 138, 129, 1)
  );
}
.overlay-3:hover {
  opacity: 1;
}
.custom-flex-gallery {
  text-align: center;
  margin-top: 114px;
}
.custom-flex-gallery h4 {
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: center;
  text-transform: uppercase;
  margin-top: 18px;
}
.custom-flex-gallery p {
  font-size: 15px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 300;
  font-style: italic;
  font-family: "Roboto";
  text-align: center;
}

.overlay-4 {
  position: absolute;
  padding: 0px;
  top: -295px;
  bottom: 0;
  left: 0px;
  right: -63px;
  width: 380px;
  height: 617px;
  opacity: 0;
  transition: 0.5s ease;
  background: linear-gradient(
    to top,
    rgba(251, 227, 137, 0.8),
    rgba(243, 138, 129, 1)
  );
}
.overlay-4:hover {
  opacity: 1;
}
.custom2-flex-gallery {
  text-align: center;
  margin-top: 262px;
}
.custom2-flex-gallery h4 {
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: center;
  text-transform: uppercase;
  margin-top: 18px;
}
.custom2-flex-gallery p {
  font-size: 15px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 300;
  font-style: italic;
  font-family: "Roboto";
  text-align: center;
}
.btn.collapsed i {
  transform: rotate(180deg);
  position: absolute;
  right: 70%;
  padding: 0;
  padding-right: 362px;
}

.arrow {
  color: #cccccc;
  font-size: 30px;
}
.arrow-width {
  height: 25px;
  width: 23px;
  top: 42%;
}
.accordian-btn-1 {
  outline: none;
  text-decoration: none;
  margin-left: 37px;
  padding-right: 8px;
}
.accordian-btn-2 {
  outline: none;
  text-decoration: none;
  margin-left: 37px;
  padding-right: 8px;
}
.accordian-btn-3 {
  outline: none;
  text-decoration: none;
  margin-left: 37px;
  padding-right: 8px;
}
.accordian-btn-1:hover {
  text-decoration: none;
}
.accordian-btn-1:focus {
  text-decoration: none;
}
.accordian-btn-1 i {
  padding-left: 317px;
  font-size: 25px;
  color: #d0d0d0;
}
.accordian-btn-2 i {
  padding-left: 347px;
  font-size: 25px;
  color: #d0d0d0;
}
.accordian-btn-3 i {
  padding-left: 333px;
  font-size: 25px;
  color: #d0d0d0;
}
.acc-body {
  border: 1px solid #e5e5e5;
  margin-left: -1px;
}
@media (max-width: 1441px) {
  .overlay-3 {
    top: -133px;
    height: 292px;
    width: 356px;
  }
  .overlay-4 {
    top: -276px;
    height: 581px;
    width: 356px;
  }
}

@media (max-width: 1367px) {
  .overlay-3 {
    width: 341px;
  }
  .overlay-4 {
    width: 341px;
  }
}

@media (max-width: 1281px) {
  .custom-flex-gallery {
    text-align: center;
    margin-top: 80px;
  }
  .custom2-flex-gallery {
    text-align: center;
    margin-top: 206px;
  }
  .overlay-3 {
    top: -115px;
    height: 258px;
    width: 316px;
  }
  .overlay-4 {
    top: -243px;
    height: 514px;
    width: 316px;
  }
}

/* Ipad Pro */
@media (max-width: 1025px) {
  /* .custom-div {
    max-width: 1025px;
} */
  .main-heading h1 {
    font-size: 60px;
  }
  .main-heading h2 {
    font-size: 110px;
  }
  .service-banner h3 {
    font-size: 13px;
  }
  /* .unique-design {
    height: 983px;
  } */
  .service-banner p {
    /* width: 170px; */
    /* height: 20px; */
    font-size: 13px;
    line-height: 20px;
  }
  .tablet {
    margin-left: 235px;
  }
  .what-weDo img {
    width: 460px;
  }
  .collapse-para {
    width: 422px;
    font-size: 12px;
  }
  .accordian-btn-1 i {
    padding-left: 223px;
  }
  .accordian-btn-2 i {
    padding-left: 256px;
  }
  .accordian-btn-3 i {
    padding-left: 244px;
  }
  /* .review-box {
    margin-left: 84px;
  } */
  .team-member img {
    width: 295px;
    height: auto;
  }
  .review-details {
    width: 437px;
    font-size: 13px;
    line-height: 16px;
  }
  .reviewer-1-image img {
    width: 160px;
    height: 160px;
    margin-right: 19px;
    margin-top: -56px;
  }
  .review-para {
    margin-top: -25px;
    margin-left: 15px;
  }
  .clients-info p + p {
    width: 239px;
    height: 105px;
    font-size: 13px;
    line-height: 23px;
  }
  .about {
    font-size: 12px;
    line-height: 22px;
  }
  .review-image img {
    margin-top: -23px;
  }
  .review-line {
    margin-top: 12px;
    width: 40px;
  }
  .latest-blog-img {
    width: 300px;
  }
  .Story-banner h3 {
    margin-top: 10px;
    margin-left: 12px;
    width: auto;
    padding-bottom: 10px;
    font-size: 10px;
    line-height: 20px;
    margin-bottom: 16px;
  }
  .details {
    width: 300px;
    font-size: 12px;
    line-height: 22px;
  }
  .Blogs p:first-of-type {
    font-size: 6px;
    line-height: 12px;
    margin: 0;
    margin-top: 9px;
  }
  .blog-div img {
    width: 100px;
    height: auto;
  }
  .review-box-2 {
    margin-left: 152px;
  }
  .text-box {
    width: 171px;
  }
  .Subscribe-btn {
    font-size: 10px;
    width: 100px;
    padding-top: 5px;
    padding-left: 19px;
  }
  .review-details {
    font-size: 16px;
  }
  .insta-div img {
    width: 70px;
    height: auto;
  }
  .overlay-2 {
    width: 297px;
    height: 364px;
  }
  .team-social {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 11pc;
  }
  .overlay-3 {
    width: 255px;
  }
  .overlay-4 {
    width: 256px;
  }
  .review-box-2 {
    margin-left: 157px;
  }
}

@media (max-width: 769px) {
  /* .navbar-nav .nav-link {
    padding: 0 292px;
    padding-bottom: 10px;
  } */
  /* .custom-div {
    max-width: 769px;
} */
  .main-heading h1 {
    font-size: 55px;
  }
  .main-heading h2 {
    font-size: 50px;
    line-height: 100px;
    margin: 38px auto;
  }
  .about {
    font-size: 17px;
    line-height: 22px;
  }
  .about-us-img {
    width: 200px;
    height: auto;
  }
  .overlay {
    width: 200px;
    height: auto;
  }
  .clients-banner h2 {
    font-size: 40px;
  }
  .clients-banner p {
    font-size: 11px;
  }
  .service-banner div + div {
    padding-bottom: 70px;
  }

  .tablet {
    width: 890px;
    margin-left: 105px;
  }

  .what-weDo img {
    width: 334px;
    /* height: auto; */
  }
  .collapse-para {
    width: 304px;
    font-size: 12px;
  }
  .accordian-btn-1 i {
    padding-left: 105px;
  }
  .accordian-btn-2 i {
    padding-left: 136px;
  }
  .accordian-btn-3 i {
    padding-left: 124px;
  }
  .review-box {
    margin-left: 70px;
  }
  .team-member img {
    width: 220px;
    height: auto;
  }
  .overlay-2 {
    width: 220px;
    height: 273px;
  }
  .team-social {
    margin-top: 8pc;
  }
  .brand-img img {
    width: 100px;
    height: auto;
  }
  .overlay-3 {
    width: 192px;
  }
  .overlay-4 {
    width: 192px;
  }
  .review-box-2 {
    margin-left: 70px;
  }
  .reviewer-1-image img {
    width: 100px;
    height: auto;
    margin-top: -36px;
  }
  .review-para {
    margin-top: -26px;
    margin-left: 4px;
  }
  .clients-info p + p {
    width: 150px;
    font-size: 13px;
    line-height: 23px;
  }
  .clients-info {
    margin-bottom: 25px;
  }

  .clients {
    padding: 35px 0;
  }
  .latest-blog-img {
    width: 200px;
    height: auto;
  }
  .details {
    width: 200px;
  }
  .social-icons li {
    margin-right: 10px;
  }
  .text-box {
    width: 140px;
  }
  .Subscribe-btn {
    width: 93px;
    padding-left: 16px;
  }
  .insta-div img {
    width: 47px;
    height: 84px;
  }
}
@media (max-width: 541px) {
  .brand-img {
    width: 50%;
  }
  .section-headings h2 {
    margin-top: 30px;
  }
  .number-banner {
    padding: 17px 0;
  }
  .service-section {
    margin: 25px 0;
  }
  .horizontal-divider {
    margin: 30px 0;
  }
  .team-member img {
    width: 230px;
    height: auto;
  }
  .latest-blog-img {
    width: 285px;
    height: auto;
  }
  /* .navbar-nav .nav-link {
    padding: 0 202px;
    padding-bottom: 10px;
  } */
  .reviewer-1-image img {
    width: 100px;
    height: auto;
    margin-top: -57px;
  }
  .main-heading h1 {
    font-size: 55px;
    margin-top: 13px;
  }
  .main-heading h2 {
    font-size: 50px;
    line-height: 80px;
    margin: 38px auto;
  }
  .progressBarContainer {
    margin-left: 9px;
  }
  .progressBarContainer h3 {
    font-size: 8px;
  }
  .about-us {
    margin: 60px auto;
    text-align: center;
  }
  .about-us-img {
    width: 200px;
    height: auto;
    margin-bottom: 25px;
  }

  .tablet {
    width: 90%;
    height: auto;
    margin-left: 51px;
    margin-top: 54px;
  }

  .unique-design {
    margin-top: 0px;
    height: 655px;
  }
  .what-weDo {
    text-align: center;
    margin-bottom: 25px;
  }
  .accordian-btn-1 i {
    padding-left: 285px;
  }
  .accordian-btn-2 i {
    padding-left: 318px;
  }
  .accordian-btn-3 i {
    padding-left: 304px;
  }

  .collapse-para {
    width: 483px;
  }
  .clients-banner h2 {
    font-size: 20px;
  }

  .clients-banner p {
    font-size: 8px;
  }
  .review-details {
    width: 279px;
    font-size: 9px;
    line-height: 12px;
  }
  .review-box-2 {
    margin-left: 64px;
  }
  .clients-info p + p {
    width: 296px;
    font-size: 13px;
    line-height: 23px;
  }
  .review-details {
    width: 271px;
    font-size: 9px;
    line-height: 12px;
  }
  .reviewer-name {
    font-size: 13px;
  }
  .review-image img {
    margin-top: -28px;
  }

  .review-image img {
    width: 73px;
    height: 73px;
    margin-right: 33px;
  }
  .team-member {
    text-align: center;
  }
  .Brands div {
    text-align: center;
  }
  .Story-banner {
    text-align: center;
  }
  .story-views {
    margin-right: 16px;
    margin: 0 auto;
    margin-bottom: 15px;
  }
  .footer-details {
    text-align: center;
  }
  .details {
    width: 435px;
    margin: 0 auto;
  }
  .follwer {
    margin-left: 200px;
  }
  .Subscribe-btn {
    width: 113px;
    padding-left: 24px;
  }
  .socials p {
    margin-left: 121px;
  }
  .input-group {
    margin-left: 85px;
    width: 73%;
  }
  .Instagram h2 {
    padding-left: 0;
    text-align: center;
  }
  .insta-img-div {
    margin-left: 0;
    text-align: center;
  }
  .text-box {
    width: 212px;
  }
  .Instagram h3 {
    padding-left: 0;
    text-align: center;
  }
  .nav-links li a {
    font-size: 7px;
  }
  .nav-links {
    justify-content: flex-start;
  }
  .Blogs h3 {
    padding-left: 0;
    text-align: center;
  }
  .Blogs p:first-of-type {
    margin-top: 9px;
  }
  .Blogs p:first-of-type {
    font-size: 11px;
    line-height: 16px;
  }
  .insta-div img {
    width: 80px;
    height: 84px;
  }
  .overlay-3 {
    position: absolute;
    padding: 0px;
    top: -42px;
    bottom: 0;
    left: 0px;
    right: -63px;
    width: 135px;
    height: 111px;
    opacity: 0;
    transition: 0.5s ease;
    background: linear-gradient(
      to top,
      rgba(251, 227, 137, 0.8),
      rgba(243, 138, 129, 1)
    );
  }
  .custom-flex-gallery {
    text-align: center;
    margin-top: 18px;
  }
  .nav-links {
    justify-content: center;
  }
  .nav-links li a {
    font-size: 11px;
  }
  .overlay-4 {
    position: absolute;
    padding: 0px;
    top: -96px;
    bottom: 0;
    left: 0px;
    right: -9px;
    width: 135px;
    height: 220px;
    opacity: 0;
  }
  .custom2-flex-gallery {
    text-align: center;
    margin-top: 52px;
  }
  .overlay {
    left: 170px;
    right: -88px;
    opacity: 0;
    transition: 0.5s ease;
    background: linear-gradient(
      to top,
      rgba(251, 227, 137, 0.8),
      rgba(243, 138, 129, 1)
    );
  }
  .overlay-2 {
    position: absolute;
    padding: 0px;
    top: 0;
    bottom: 0;
    left: 159px;
    right: -71px;
    opacity: 0;
    transition: 0.5s ease;
    box-shadow: 10px 10px 0px #95e1d3;
    background: linear-gradient(
      to top,
      rgba(251, 227, 137, 0.8),
      rgba(243, 138, 129, 1)
    );
  }
  .over-icons {
    margin: auto;
    margin-top: 50px;
    color: #ffffff;
  }
}

@media (max-width: 415px) {
  /* .navbar-nav .nav-link {
    padding: 0px 140px;
    padding-bottom: 10px;
  } */
  .what-weDo img {
    width: 360px;
    height: auto;
  }
  .c1 {
    width: 80px;
    height: 80px;
  }
  .main-heading h2 {
    font-size: 50px;
    line-height: 80px;
    margin: 38px auto;
  }
  .progressBarContainer {
    margin-left: 9px;
  }
  .progressBarContainer h3 {
    font-size: 8px;
  }
  .about-us {
    margin: 60px auto;
    text-align: center;
  }
  .about-us-img {
    width: 285px;
    height: auto;
    margin-bottom: 25px;
  }

  .tablet {
    width: 90%;
    height: auto;
    margin-left: 34px;
    margin-top: 54px;
  }

  .unique-design {
    height: 549px;
  }
  .what-weDo {
    text-align: center;
    margin-bottom: 25px;
  }
  .accordian-btn-1 i {
    padding-left: 155px;
  }
  .accordian-btn-2 i {
    padding-left: 189px;
  }
  .accordian-btn-3 i {
    padding-left: 175px;
  }

  .collapse-para {
    width: 354px;
  }
  .clients-banner h2 {
    font-size: 20px;
  }

  .clients-banner p {
    font-size: 6px;
  }
  .review-details {
    width: 131px;
    font-size: 9px;
    line-height: 12px;
  }
  .review-details {
    width: 131px;
    font-size: 9px;
    line-height: 12px;
  }
  .reviewer-name {
    font-size: 13px;
  }
  .review-image img {
    margin-top: -28px;
  }

  .review-image img {
    width: 73px;
    height: 73px;
    margin-right: 33px;
  }
  .team-member {
    text-align: center;
  }
  .Brands div {
    text-align: center;
  }
  .Story-banner {
    text-align: center;
  }
  .story-views {
    margin-right: 16px;
    margin: 0 auto;
    margin-bottom: 15px;
  }
  .footer-details {
    text-align: center;
  }
  .details {
    width: 330px;
    margin: 0 auto;
  }
  .latest-blog-img {
    width: 345px;
    height: auto;
  }
  .follwer {
    margin-left: 132px;
  }
  .socials p {
    margin-left: 59px;
  }
  .input-group {
    margin-left: 74px;
    width: 73%;
  }
  .Instagram h2 {
    padding-left: 0;
    text-align: center;
  }
  .insta-img-div {
    margin-left: 0;
    text-align: center;
  }
  .Instagram h3 {
    padding-left: 0;
    text-align: center;
  }
  .nav-links li a {
    font-size: 7px;
  }
  .nav-links {
    justify-content: flex-start;
  }
  .Blogs h3 {
    padding-left: 0;
    text-align: center;
  }
  .Blogs p:first-of-type {
    margin-top: 9px;
  }
  .Blogs p:first-of-type {
    font-size: 11px;
    line-height: 16px;
  }
  .insta-div img {
    width: 80px;
    height: 84px;
  }
  .overlay-3 {
    position: absolute;
    padding: 0px;
    top: -28px;
    bottom: 0;
    left: 0px;
    right: -39px;
    width: 102px;
    height: 84px;
  }
  .custom-flex-gallery {
    text-align: center;
    margin-top: 0px;
  }
  .custom-flex-gallery h4 {
    font-size: 8px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
  }
  .custom-flex-gallery p {
    font-size: 10px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 300;
    font-style: italic;
    font-family: "Roboto";
    text-align: center;
  }
  .overlay-4 {
    width: 104px;
  }
  .overlay {
    left: 116px;
    right: -88px;
    opacity: 0;
    transition: 0.5s ease;
    background: linear-gradient(
      to top,
      rgba(251, 227, 137, 0.8),
      rgba(243, 138, 129, 1)
    );
  }
  .overlay-2 {
    position: absolute;
    padding: 0px;
    top: 0;
    bottom: 0;
    left: 96px;
    right: -71px;
    opacity: 0;
    transition: 0.5s ease;
    box-shadow: 10px 10px 0px #95e1d3;
    background: linear-gradient(
      to top,
      rgba(251, 227, 137, 0.8),
      rgba(243, 138, 129, 1)
    );
  }
  .over-icons {
    margin: auto;
    margin-top: 50px;
    color: #ffffff;
  }
  .clients-info p + p {
    width: 183px;
    font-size: 13px;
    line-height: 23px;
  }
  .text-box {
    width: 130px;
  }
  .Subscribe-btn {
    width: 97px;
    padding-left: 19px;
  }
}

@media (max-width: 376px) {
  /* .navbar-nav .nav-link {
    padding: 0px 113px;
    padding-bottom: 10px;
  } */
  .number-banner {
    border-right: 0.5px solid #b5eae0;
    padding: 20px 0;
    margin-right: 2px;
  }
  .c1 {
    width: 80px;
    height: 80px;
  }
  .clients-info p + p {
    width: 147px;
    font-size: 13px;
    line-height: 23px;
  }
  .collapse-para {
    width: 319px;
  }
  .accordian-btn-1 i {
    padding-left: 121px;
  }
  .accordian-btn-2 i {
    padding-left: 152px;
  }
  .accordian-btn-3 i {
    padding-left: 139px;
  }
  .review-box {
    margin-left: 58px;
  }
  .review-box-2 {
    margin-left: 47px;
  }
  .unique-design {
    height: 520px;
  }
  .nav-links li a {
    font-size: 9px;
    margin: 0px 8px;
  }
  .overlay-3 {
    width: 93px;
  }
}

@media (max-width: 361px) {
  .details {
    width: 330px;
    margin: 0 auto;
  }
  .follwer {
    margin-left: 110px;
  }
  .text-box {
    width: 131px;
  }
  .Subscribe-btn {
    width: 103px;
    padding-left: 18px;
  }
  .about {
    margin-bottom: 30px;
  }
  .main-heading h1 {
    font-size: 38px;
    margin-top: 13px;
  }
  .clients-banner p {
    font-size: 5px;
  }
  .number-banner {
    padding: 10px 0;
    padding-top: 19px;
  }
  .service-banner h3 {
    font-size: 11px;
  }
  .service-banner p {
    font-size: 11px;
    line-height: 20px;
  }
  .main-heading h2 {
    font-size: 40px;
    width: 321px;
  }

  .section-headings h2 {
    font-size: 18px;
  }
  .section-headings h3 {
    font-size: 23px;
  }
  .collapse-para {
    width: 303px;
  }
  .accordian-btn-1 i {
    padding-left: 105px;
  }
  .accordian-btn-2 i {
    padding-left: 136px;
  }
  .accordian-btn-3 i {
    padding-left: 123px;
  }
  .review-box {
    margin-left: 56px;
  }
  .review-image img {
    margin-right: 17px;
  }
  .overlay {
    left: 80px;
  }
  .overlay-2 {
    left: 70px;
  }
  .overlay-3 {
    width: 89px;
  }
  .overlay-4 {
    width: 91px;
  }
  .review-box-2 {
    margin-left: 36px;
  }
  .clients-info p + p {
    width: 120px;
    font-size: 13px;
    line-height: 16px;
  }
  .unique-design {
    height: 487px;
  }
  .socials p {
    margin-left: 37px;
  }
  .input-group {
    margin-left: 49px;
  }
  .tablet {
    margin-top: 50px;
  }
  .about-us-img {
    margin-bottom: 30px;
  }
  .what-weDo img {
    width: 317px;
    height: auto;
  }
  .nav-links li a {
    margin: 0px 7px;
  }
  .team-member img {
    width: 230px;
    height: auto;
  }
  .latest-blog-img {
    width: 285px;
    height: auto;
  }
  .Brands div {
    padding: 25px 0;
  }
}

@media (max-width: 321px) {
  .follwer {
    margin-left: 97px;
  }
  .details {
    width: 300px;
    margin: 0 auto;
  }
  /* .navbar-nav .nav-link {
    padding: 0px 100px;
    padding-bottom: 10px;
  } */
  .socials p {
    margin-left: 25px;
  }
  .unique-design {
    height: 454px;
  }
  .main-heading h2 {
    font-size: 40px;
    width: auto;
  }
  .progressBarContainer h3 {
    font-size: 7px;
  }
  .tablet {
    margin-left: 24px;
    margin-top: 50px;
  }
  .overlay {
    left: 60px;
    width: 200px;
    height: 135px;
  }
  .what-weDo img {
    width: 300px;
    height: auto;
  }
  .collapse-para {
    width: 263px;
  }
  .accordian-btn-1 i {
    padding-left: 65px;
  }
  .accordian-btn-2 i {
    padding-left: 96px;
  }
  .accordian-btn-3 i {
    padding-left: 84px;
  }
  .review-box {
    margin-left: 35px;
  }
  .overlay-2 {
    left: 50px;
  }
  .team-social i {
    margin-left: -2px;
  }
  .overlay-3 {
    width: 80px;
  }
  .overlay-4 {
    width: 80px;
  }
  .nav-links li a {
    margin: 0px 5px;
  }
  .reviewer-1-image img {
    width: 74px;
    margin-right: 10px;
    /* height: auto; */
    margin-top: -26px;
  }
  .clients-info p + p {
    width: auto;
    font-size: 9px;
    line-height: 12px;
  }
  .input-group {
    margin-left: 41px;
  }
  .Brands div {
    padding: 25px 0;
  }
}

@media (max-width: 281px) {
  /* .navbar-nav .nav-link {
    padding: 6px 73px;
    padding-bottom: 10px;
  } */
  .details {
    width: 237px;
    margin: 0 auto;
  }
  .about-us-img {
    width: 233px;
    height: auto;
    margin-bottom: 25px;
  }
  .latest-blog-img {
    width: 245px;
    height: auto;
  }
  .overlay {
    left: 40px;
  }
  .socials p {
    margin-left: 12px;
  }
  .follwer {
    margin-left: 84px;
  }
  .overlay-3 {
    width: 69px;
  }
  .input-group {
    margin-left: 18px;
  }
  .what-weDo img {
    width: 233px;
    height: auto;
  }
  .review-image img {
    width: 38px;
    height: 35px;
    margin-right: 17px;
    margin-top: 0px;
  }
  .review-details {
    width: 90px;
    font-size: 9px;
    line-height: 12px;
  }
  .collapse-para {
    width: 223px;
  }
  .accordian-btn-1 i {
    padding-left: 24px;
  }
  .accordian-btn-2 i {
    padding-left: 56px;
  }
  .accordian-btn-3 i {
    padding-left: 43px;
  }
  .x1 {
    padding: 0px;
  }
  .nav-links li a {
    margin: 0px 5px;
    font-size: 7px;
  }
  .progressBarContainer h3 {
    font-size: 6px;
  }
  .clients-banner p {
    font-size: 6px;
  }
  .number-banner:nth-child(1) h2 {
    margin-top: 7px;
  }
  .unique-design {
    height: 421px;
  }
  .clients-info p + p {
    line-height: 10px;
  }
  .Brands div {
    padding: 25px 0;
  }
  .c1 {
    width: 50px;
    height: 50px;
  }
}
/* * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}  */
