body {
  margin: 0;
}
.main-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  height: 300px;
  width: 300px;
  padding: 10px;
}
.heading {
  background-color: #ccc;
  margin: 10px auto;
  width: 30%;
  height: 5%;
  border-radius: 500px;
}
.img {
  background-color: #ccc;
  height: 100px;
  width: 100px;
  margin: 0 auto;
  border-radius: 500px;
  background: linear-gradient(90deg, #eee 8%, #ddd 18%, #eee 33%);

  background-size: 600px;
  animation: shine-avatar 2s infinite ease-out;
}

.name {
  background-color: #ccc;
  margin: 10px auto;
  width: 20%;
  height: 5%;
  border-radius: 500px;
}
.div-2 {
}
